<a href="https://colab.research.google.com/github/19PA1A0518/python-basics/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np
df=pd.DataFrame([["father","srinu",25],["mother","lakshmi",20],["son","raju",4]],columns=["relation","name","age"])
df["colour"]=pd.Series(["red","blue","Green"])
print(df)

  relation     name  age colour
0   father    srinu   25    red
1   mother  lakshmi   20   blue
2      son     raju    4  Green