<a href="https://colab.research.google.com/github/19PA1A0518/python-basics/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import  pandas as pd
import numpy as np
def gmr(x):
  return(x**3)
df=pd.DataFrame({"roll no":[511,599,764347689],"name":[4,6,7],"age":[23,435,67878976543213456788]})
print(df.values)
print(df.apply(gmr))
print(df.apply(np.sum,axis=0))
print(df.apply(np.sum,axis=1))

[[511 4 23]
 [599 6 435]
 [764347689 7 67878976543213456788]]
               roll no  name                                                age
0            133432831    64                                              12167
1            214921799   216                                           82312875
2 -3979377329307415495   343  3127561487569924635003455192336724175780270565...
roll no               764348799
name                         17
age        67878976543213457246
dtype: object
0                     538
1                    1040
2    67878976543977804484
dtype: object