<a href="https://colab.research.google.com/github/19PA1A0518/python-basics/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np #used for matrices
import pandas as pd  #used for creating tables
from sklearn.model_selection import train_test_split #to split the data into train and test 
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn import metrics

In [29]:
data=pd.read_csv('diabettees.csv') #to read the file in the form of tabel
data.head() #head() will result us first 5 rows

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [0]:
x=data[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']]

In [0]:
y=data['Outcome']

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3) # convert the full data into x_train,x_test and y_train,y_test and test_size 0.3 denots that the data is split into 30% test and reminig 70% into train

In [34]:
clsfr1=DecisionTreeClassifier() # decisiontree clasifier and fit the data into this classifier and A decision tree or a classification tree is a tree in which each internal (non-leaf) node is labeled with an input feature. The arcs coming from a node labeled with an input feature are labeled with each of the possible values of the target or output feature or the arc leads to a subordinate decision node on a different input feature.
clsfr1.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [35]:
y_pred=clsfr1.predict(x_test) # using the fit to pridict the y_pred by using x_test and then it result y-predect
y_pred
frame=pd.DataFrame({'actual':y_test,'predected':y_pred})
frame

     actual  predected
368       0          0
672       0          1
366       1          0
394       1          1
279       0          0
..      ...        ...
367       0          0
539       1          1
493       1          0
351       0          0
618       1          0

[231 rows x 2 columns]

In [36]:
print('Accuracy:',metrics.accuracy_score(y_test,y_pred)) # it tells us the accuracy of the data by using decision tree clasifier

Accuracy: 0.6623376623376623

In [37]:
clfr2=RandomForestClassifier(n_estimators=50) # random forest is the ensemble method and using this we can devived the decision tree into sub trees randomly and n_estimators value 50 tells usthat it will sub group up to 50 sub trees.
clfr2.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [38]:
y_pred2=clfr2.predict(x_test)
y_pred2
frame1=pd.DataFrame({'actual':y_test,'predected':y_pred2})
frame1

     actual  predected
368       0          0
672       0          0
366       1          0
394       1          1
279       0          0
..      ...        ...
367       0          0
539       1          0
493       1          0
351       0          0
618       1          0

[231 rows x 2 columns]

In [39]:
print('Accuracy:',metrics.accuracy_score(y_test,y_pred2))

Accuracy: 0.7662337662337663

In [40]:
clfr3=AdaBoostClassifier()
clfr3.fit(x_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)

In [41]:
y_pred3=clfr3.predict(x_test)
y_pred3
frame2=pd.DataFrame({'actual':y_test,'predected':y_pred3})
frame2

     actual  predected
368       0          0
672       0          0
366       1          0
394       1          1
279       0          0
..      ...        ...
367       0          0
539       1          1
493       1          0
351       0          1
618       1          1

[231 rows x 2 columns]

In [42]:
print('Accuracy:',metrics.accuracy_score(y_test,y_pred3))

Accuracy: 0.7835497835497836

so from these above the accuracy is more for Adaboostclassifier()